<div class = "page-container">
    <div class="profil-details-editor">
        <div class="circle-profil">
            <img src="../../../assets/user.png" alt="Silhouette de personne">
            <!-- input type file, limiter aux images-->
        </div>
        <form>
            <div class="formulaire">
                <div class="leftFormulaire">
                    <div class="left">
                        <p>Nom: </p>
                    </div>
                    <div class="left">
                        <p>Prénom: </p>
                    </div>
                    <div class="left">
                        <p>Mail: </p>
                    </div>
                    <div class="left">
                        <p>Mot de passe: </p>
                    </div>
                    <div class="left">
                        <p>Métier: </p>
                    </div>
                </div>
                <div class = rightFormulaire>
                    <div class ="right">
                        <input type="textbox" value="Duck">
                    </div>
                    <div class="right">
                        <input type="textbox" value="Donald">
                    </div>
                    <div class="right">
                        <input type="text" value="IHateMickey@waltdisney.fr">
                    </div>
                    <div class="right">
                        <input type="text" value="GoofyMyLove">
                    </div>
                    <div class="right">
                        <input type="text" value="Mascotte dans un parc">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--
"id": 1,
"lastname": "Ancel",
"firstname": "Valentin",
"right": false,
"email": "val@gmail.com",
"password": "mdp",
"job": "Développeur Java",
"formstate": "waiting"
-->