  <div class="main">

    <aside>

      <a routerLink="#" id="active">Votre situation</a>
      <a routerLink="/form/latest">Votre précédente mission</a>
      <a routerLink="/form/next">Votre future mission</a>

    </aside>

    <section>
      <h2>
        Préparation de l'entretien avec le staffing partner
      </h2>

      <form action="">

        <div class="first-intermission">

          <label for={{questions[0].id}}>{{questions[0].question}}</label>

          <div>
            <input type="radio" id="first_inter_yes" name="firstinter" value="yes" (change)="firstIntermission=true">
            <label class="radio" for="first_inter_yes">Oui</label>

            <input type="radio" id="first_inter_no" name="firstinter" value="no" (change)="firstIntermission=false">
            <label class="radio" for="first_inter_no">Non</label>
          </div>

        </div>

        <div *ngIf="!firstIntermission">
          <label for={{questions[1].id}}>{{questions[1].question}}</label>

          <textarea name="message" id={{questions[1].id}} rows="10" placeholder="Ecrivez votre réponse ici"></textarea>
        </div>

        <div>
          <label for={{questions[2].id}}>{{questions[2].question}}</label>

          <textarea name="message" id="question3" rows="10" placeholder="Ecrivez votre réponse ici"></textarea>
        </div>



      </form>
    </section>

    <div class="arrows">
      <a routerLink="/form/latest">
        <div class="arrow-down"></div>
      </a>
    </div>

  </div>