@import "../../../styles.scss";

/* ================= GLOBAL ================= */

.main {
  @include form-main

}

/* ================= ASIDE = MENU NAVIGATION DE GAUCHE ================= */

aside {
  @include form-aside
}

aside a {
  text-decoration: none;
  padding: 10px;
  margin: 15px;
  border-left: 3px solid #811B6F;
}

#active {
  color: white;
  font-weight:600;
  border-color: white;
}

/* ================= SECTION = FORMULAIRE ================= */

section {
  width: 75%;
  margin: 0 30px;
}

h2 {
  text-align: center;
  font-family: $main-font;
  color: $main-blue;
  margin-bottom: 40px;
}

form {
  margin: 0 30px;
}

form label,
form input,
form textarea {
  display: block;
  width: 100%;
}

form label {
  margin: 30px 0 10px 0;
}

/* -------- Première question avec radio button -------- */

.first-intermission {
  display: flex;
  justify-content: flex-start;
}

.first-intermission > label {
  width: fit-content;
}

.first-intermission > div {
  display: flex;
  justify-content: space-around;
}

.first-intermission input {
  margin: 30px 5px 10px 70px;
}

/* ================= FLECHES DE NAVIGATION SUR BORD DROIT ================= */

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 40px;
  background: none;

  button {
    @include arrow;
  }
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}