@import "../../styles.scss";

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil-details-editor {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
    width: 800px;
    height: 700px;
    margin: 30px 0 120px 0;
}

.head-form {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.circle-profil {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border: 6px solid $main-blue;
    border-radius: 50%;
    align-items: center;
}

.circle-profil > img {
    width : 70px;
    height: auto;
}

h2 {
    color: $main-blue;
}

.modif-button-box {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 15px -15px 0;
}

.modif-button-box button {
    @include button-secondary-action;
    padding: 5px 10px;
    font-size: 0.9em;
    font-weight: bold;
}

.modif-button-box button:hover {
    @include button-secondary-action-hover;
}

.modif-button-box .button-bis {
    border-color: rgb(79, 161, 185);
}

.modif-button-box button img {
    width: 23px;
    height: auto;
    opacity: 0.8;
    margin-right: 8px;
}

.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    height: auto;
    border-top : solid 1px $main-blue;
    border-bottom : solid 1px $main-blue;
    padding: 50px 0 40px 0;
    //Font
    font-size: 0.9em;
    color : $text-darkgrey;
    font-family: $main-font;
}

.leftFormulaire {
    display: flex;
    flex-direction: column;
    //border : 2px solid yellow;
}

.rightFormulaire {
    display: flex;
    //border : 2px solid orange;
    flex-direction: column;
    margin-left: 50px;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //border: solid 2px green;
    height: 40px;
    margin-bottom: 20px;
}

.right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
}

.right input {
    width: 100%;
    border: 2px solid $main-grey;
    border-radius: 5px;
    padding: 10px;
}

.btn-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.go-to-form-btn, .submit-btn {
    @include button-primary-action;
    width: 200px;
}

.go-to-form-btn:hover {
    @include button-primary-action-hover
}

.submit-btn:hover {
    @include button-primary-action-hover
}