<div class = "page-container">
    <div class="profil-details-editor">
        <div class="head-form">
            <div class="circle-profil">
                <img src="../../../assets/user.png" alt="Silhouette de personne">
            </div>
    
            <h2>Profil collaborateur</h2>

            <div class="modif-button-box">
                <button (click)="modifToggle()" *ngIf="!isModified">
                    <img src="../../assets/pen.png" alt="icon crayon">
                    Modifier
                </button>
                <button (click)="cancelToggle()" *ngIf="isModified" class="button-bis">
                    <img id="img-cross" src="../../assets/cancel-icon.png" alt="icon croix">
                    Annuler
                </button>
            </div>
        </div>
        
        <form>
            <div class="formulaire">
                <div class="leftFormulaire">
                    <div class="left">
                        <label for="lastname">
                            <p>Nom :</p>
                        </label>
                    </div>

                    <div class="left">
                        <label for="fisrtname">
                            <p>Prénom :</p>
                        </label>
                    </div>

                    <div class="left">
                        <label for="mail">
                            <p>Mail :</p>
                        </label>
                    </div>

                    <div class="left">
                        <label for="job">
                            <p>Métier :</p>
                        </label>
                    </div>
                </div>

                <div class = rightFormulaire>
                    <div class ="right">
                        <input *ngIf="isModified" type="text" id="lastname" value="blaba">
                        <p *ngIf="!isModified">blaba</p>
                    </div>

                    <div class="right">
                        <input *ngIf="isModified" type="text" id="fisrtname" value="blaba">
                        <p *ngIf="!isModified">blaba</p>
                    </div>

                    <div class="right">
                        <input *ngIf="isModified" type="mail" id="mail" value="blaba">
                        <p *ngIf="!isModified">blaba</p>
                    </div>

                    <div class="right">
                        <input *ngIf="isModified" type="text" id="job" value="blaba">
                        <p *ngIf="!isModified">blaba</p>
                    </div>
                </div>
            </div>

            <div class="btn-box">
                <input class="cancel-btn" type="reset" value="Retour" routerLink='/home'>
                <input *ngIf="isModified" class="submit-btn" type="submit" value="Valider">
            </div>
        </form>
    </div>
</div>