<div class="login-page">
    <div class="login-box">
        <div class="circle-profil">
            <img src="../../assets/user.png" alt="Logo user">
        </div>
        <h2>Connexion</h2>
    
        <form 
            novalidate 
            name="form" 
            (ngSubmit)="onSubmit()"            
        >
            <input 
                type="text" 
                name="username" 
                placeholder="Adresse mail" 
                maxlength="50"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
            >
            <input 
                type="password" 
                name="password" 
                placeholder="Mot de passe" 
                maxlength="30"
                [(ngModel)]="form.password"
                required
                #password="ngModel"
            >
            <input type="submit" value="Se connecter">
            <input type="reset" value="Annuler">
        </form>
    </div> 
</div>