@import "../../../styles.scss";

p{
    font-size: 1.20em;
    color : $text-darkgrey;
    font-family: $main-font;
}

form{
    text-align: center;
}

input{
    height: 26px;
}

.NomPrenomPart > input{
    width: 30%;
}

form > div{
    padding-bottom: 20px;
    padding-top: 20px;
}

.form-add-admin-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    //border: 2px solid red;
    justify-content:space-around;
}

.content {
    display: flex;
    //border: 2px solid purple;
    flex-direction: column;
    width: 60%;
    flex-flow : wrap;
}

.NomPrenomPart{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid $main-blue;
    //border: 2px solid green;
}

.PostePart{
    display: flex;
    justify-content: space-around;
}

.mailPart{
    display: flex;
    justify-content: space-around;
}

.buttonsPosition{
    display: flex;
    justify-content: right;
    //border: 2px solid blue;
}

.btnAjouter{
    display: flex;
    margin-left: 10px;
}

