<div class="form-add-admin-page">
    <p>Ajout d'un utilisateur</p>
    <div class="content">
        <form>
            <div class="NomPrenomPart" >
                <input class="test" type='textbox' placeholder='Nom'>
                <input class="test" type='textbox' placeholder='Prénom'>
            </div>
            <div class="mailPart">
                <input type='textbox' placeholder='Adresse Mail'>
            </div>
            <div>
                <input type='password' placeholder='Mot de passe'>
            </div>
            <div class="postePart">
                <input type='textbox' placeholder='Métier'>
            </div>
            <div>
                <input type="radio" id="User"
                name="droit" value="User" checked>
               <label for="User">User</label>
           
               <input type="radio" id="Admin"
                name="droit" value="Admin">
               <label for="Admin">Admin</label>
            </div>
            <div class="buttonsPosition">
                <input class="undoBtn"type='button' value='Annuler' (click)="undoBtnOnClick()">
                <input class="addBtn" type='button' value='Ajouter'>
            </div>

        </form>
    </div>
</div>
