<div class="list-admin-page">
  <div class="list-admin-box">

    <h2>Gestion des profils administrateurs</h2>

    <div class="title-list">
        <h3>Liste des admins</h3>
        <input class="add-btn" type='button' value='Ajouter un profil' (click)='addBtnOnClick()'>
    </div>

    <div class="flex">
      <ng-container *ngFor="let $admin of arrayAdmin">
        <app-item-admin [admin]="$admin"></app-item-admin>
      </ng-container>
    </div>

    <div class="deletePart">
      <div>
        Sélection : 
      </div>

      <div>
        <input class="del-btn" type='button' value='Supprimer' (click)="deleteAdmin()">
      </div>

    </div>

  </div>
</div>