<div class="list-admin-page">
  <div class="list-admin-box">
    <h2>Administration des profils admin</h2>
    <div class="ajout-admin">
        <h3>Liste des admins</h3>
        <input type='button' value='Ajouter utilisateur' (click)='addBtnOnClick()'>
    </div>
    <div class="flex">
      <!-- Ici sont généré les cartes admin-->
      <app-item-admin></app-item-admin>
      <app-item-admin></app-item-admin>
      <app-item-admin></app-item-admin>
      <app-item-admin></app-item-admin>
      <app-item-admin></app-item-admin>
    </div>
    <!--
    <ng-container *ngFor="let admin of admins">
      <app-item-admin [admin]="admin"></app-item-admin>
    </ng-container>
    -->
    <div class="deletePart">
      <div>
      Sélection : 
      </div>
      <div>
        <input class="delBtn" type='button' value='Supprimer admin'>
      </div>
      <div>
    </div>
    </div>
  </div>
</div>