@import "../../../styles.scss";

* {
  font-size: 1.0em;
}

.adminCard {
  display: grid;
  grid-template-rows: 2fr 0.5fr 3.5fr 4fr;
  grid-template-columns: 0.4fr 2.2fr 7.4fr;
  width: 220px;
  height: 100px;
  border: 3px solid $main-grey;
  background-color: #ffffff;
  color : $text-darkgrey;
  font-family: $main-font;
}

.circle-profil {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end:  span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $main-grey;
  border-radius: 50%;
  align-items: center;
}

.circle-profil img {
  width: 20px;
  height: auto;
}

.fullgrey-circle{
  width: 40px;
  height: 40px;
  background: #E5E5E5;
  border-radius: 50%
}

.NameFirstname{
  color : $text-darkgrey;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end:  span 2;
  padding-left: 10px;
}

.Poste{
  color : $text-darkgrey;
  color : $text-darkgrey;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  padding-left: 10px;
}

.flex{
  display:flex
}
