@import "../../../styles.scss";

.adminCard {
  display: grid;
  grid-template-rows: 2fr 0.5fr 3.5fr 4fr;
  grid-template-columns: 0.4fr 2.2fr 7.4fr;
  width: 225px;
  height: 100px;
  border: 3px solid $main-grey;
  border-radius: 5px;
  background-color: #ffffff;
  color : $text-darkgrey;
  font-family: $main-font;
  font-size: 0.95em;
}

.circle-profil {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end:  span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $main-grey;
  border-radius: 50%;
  align-items: center;
}

.circle-profil img {
  width: 20px;
  height: auto;
}

.fullgrey-circle{
  width: 40px;
  height: 40px;
  background: #E5E5E5;
  border-radius: 50%
}

.NameFirstname {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end:  span 2;
  padding-left: 10px;
  margin-top: -10px;
}

.poste {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  padding-left: 10px;
  margin-top: -10px;
  font-size: 0.8em;
}

.flex {
  display:flex
}

.check-admin {
  cursor: pointer;
  margin-right: 10px;
}

.check-admin:checked + .adminCard {
  border-color: rgb(224, 142, 142);
}
