<div class="main">

    <aside>

      <a routerLink="/form">Votre situation</a>
      <a routerLink="/form/latest">Votre précédente mission</a>
      <a routerLink="#" id="active">Votre future mission</a>

    </aside>

    <section>
      <h2>
        Préparation de l'entretien avec le staffing partner
      </h2>

      <form class="form-group" id="nForm" [formGroup]="nextForm" (ngSubmit)="onSubmit()">

        <!-- Questions 7 à 9 -->
        <div *ngFor="let q of questions">
          <div *ngIf="q.id >= 7 && q.id <= 9">
            <label for={{q.id}}>{{q.question}}</label>
            <textarea name="message" id={{q.id}} rows="7" placeholder="Ecrivez votre réponse ici"
            formControlName={{q.id}}></textarea>
          </div>
        </div>

        <div class="button">
            <input form="nForm" type="submit" value="Envoyer">
        </div>
      </form>
    </section>

    <div class="arrows">
      <button class="arrow-up" routerLink="/form/latest"></button>
    </div>

  </div>