<div class="main">

  <aside>

    <a href="#" id="active">Votre vidéo</a>

  </aside>

  <section>
    <h2>
      Vidéo de présentation
    </h2>

    <form action="">

      <h3>Parlez-nous de vous...</h3>

      <p>Vous pouvez déposer ci-dessous une vidéo dans laquelle vous vous présentez : votre profil, vos connaissances,
        vos attentes... Faites-vous plaisir !</p>

      <p><em>Durée maximale : 3 minutes</em></p>

      <form class="form-group" [formGroup]="videoForm" (ngSubmit)="onSubmit()">

        <div class="videoUpload">
          <img src="../../../assets/glass-64.png" />
          <a href="https://www.google.com/intl/fr/drive/" target="_blank" class="button">Parcourir le cloud</a>
        </div>

        <input type="text" name="link" placeholder="Collez ici le lien de votre vidéo" formControlName="link">

        <input class="validUpload" type="submit" value="Valider">

      </form>

      <div class="videos">
        <div>
          <label for="votre-video">Votre chef-d'œuvre</label>
          <embed id="votre-video" [src]='link' allowfullscreen="true" width="600" height="338">
        </div>

        <div>
          <label for="tuto">Besoin d'aide ? Voici un tuto !</label>
          <embed id="tuto" src="https://www.youtube.com/embed/DOITze46lJE" allowfullscreen="true" width="600"
            height="338">
        </div>
      </div>

      <div class="button">
        <input type="submit" value="Envoyer">
      </div>

    </form>
  </section>

</div>