@import "../../../styles.scss";

/* ================= GLOBAL ================= */

.main {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}

/* ================= ASIDE = MENU NAVIGATION DE GAUCHE ================= */

aside {
    background-color: rgba(112, 204, 233, 1); //= secondary-blue avec transparence
    display: flex;
    flex-direction: column;
    width: 17%;
    color: #811B6F;
    font-size: 1.1em;
    padding: 30px 10px;
}

aside a {
    text-decoration: none;
    padding: 10px;
    margin: 15px;
    border-left: 3px solid #811B6F;
}

#active,
aside a:focus {
    color: white;
    font-weight: 600;
    border-color: white;
}

/* ================= SECTION = FORMULAIRE ================= */

section {
    width: 75%;
    margin: 0 30px;
}

h2 {
    text-align: center;
    font-family: $main-font;
    color: $main-blue;
    margin-bottom: 40px;
}

form {
    margin: 0 30px;
}

form label,
form input,
form textarea {
    display: block;
    width: 100%;
}

form>label {
    margin: 30px 0 10px 0;
}

form .button {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
}

form input[type=submit] {
    width: 130px;
    height: auto;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background: $main-blue;
    color: white;
    border: 1px solid $main-blue;
}

form input[type=submit]:hover {
    background: $secondary-blue;
    border: 1px solid $secondary-blue;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

/* -------- Sélection de la video -------- */

.videoUpload {
    width: 130px;
    height: auto;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: $main-blue;
    color: white;
    border: 1px solid $main-blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
  width:25px;
  height:25px;
  margin-right: 10px;
    }

    label {
        font-size: 0.9em;
    }
}

.videoUpload:hover {
    background: $secondary-blue;
    border: 1px solid $secondary-blue;
    cursor: pointer;
    transition: background 0.2s ease-in;
    label {
        cursor: pointer;
    }
}

/* -------- Vidéos -------- */

.videos {
    display: flex;
    justify-content: space-between;
}

.videos label {
    color: $secondary-blue;
    font-weight: bold;
}


/* ================= FLECHES DE NAVIGATION SUR BORD DROIT ================= */

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrows a {
    margin: 20px;
}

.arrow-up {
    //width: 0;
    //height: 0;
    border-bottom-right-radius: 10px 40px;
    border-bottom-left-radius: 10px 40px;
    border-right: 24px solid transparent;
    border-left: 24px solid transparent;
    border-bottom: 30px solid $main-blue;
}

