@import "../../../styles.scss";

/* ================= GLOBAL ================= */

.main {
    @include form-main
}

/* ================= ASIDE = MENU NAVIGATION DE GAUCHE ================= */

aside {
    @include form-aside
}

aside a {
    text-decoration: none;
    padding: 10px;
    margin: 15px;
    border-left: 3px solid #811B6F;
}

#active {
    color: white;
    font-weight: 600;
    border-color: white;
}

/* ================= SECTION = FORMULAIRE ================= */

section {
    width: 75%;
    margin: 0 30px;
}

h2 {
    text-align: center;
    font-family: $main-font;
    color: $main-blue;
    margin-bottom: 40px;
}

form {
    margin: 0 30px;
}

form label,
form input,
form textarea {
    display: block;
    width: 100%;
}

form>label {
    margin: 30px 0 10px 0;
}

form .button {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
}

form input[type=submit] {
    @include button-primary-action
}

form input[type=submit]:hover {
    @include button-primary-action-hover
}

/* -------- Sélection de la video -------- */

.videoUpload {
    width: 130px;
    height: auto;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: $main-blue;
    color: white;
    border: 1px solid $main-blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    label {
        font-size: 0.9em;
    }
}

.videoUpload:hover {
    background: $secondary-blue;
    border: 1px solid $secondary-blue;
    cursor: pointer;
    transition: background 0.2s ease-in;

    label {
        cursor: pointer;
    }
}

/* -------- Vidéos -------- */

.videos {
    display: flex;
    justify-content: space-between;
}

.videos label {
    color: $secondary-blue;
    font-weight: bold;
}