<div class="pageCenter">
    <div class="form-add-admin-page">
        <div class="entete">
            <p>Ajout d'un utilisateur</p>
        </div>
        <form novalidate name="form" (ngSubmit)="onSubmit()">
            <div class="content">
                <div class="leftPart">
                    <div class="left">
                        <label for="Nom">
                            <p>Nom:</p>
                        </label>
                    </div>
                    <div class="left">
                        <label for="Prénom">
                            <p>Prénom:</p>
                        </label>
                    </div>
                    <div class="left">
                        <label for="Mail">
                            <p>Mail:</p>
                        </label>
                    </div>
                    <div class="left">
                        <label for="Métier">
                            <p>Métier:</p>
                        </label>
                    </div>
                    <div class="left">
                        <p>Rôle:</p>
                    </div>
                    <div class="left">
                        <label for="Mot de passe">
                            <p>Mot de passe:</p>
                        </label>
                    </div>
                </div>

                <div class=rightPart>
                    <div class="left">
                        <input class="largeurTextbox" type="text" name="lastname" placeholder="Nom"
                            [(ngModel)]="form.lastname" required #lastname="ngModel">
                    </div>
                    <div class="left">
                        <input class="largeurTextbox" type="text" name="firstname" placeholder="Prénom"
                            [(ngModel)]="form.firstname" required #firstname="ngModel">
                    </div>
                    <div class="left">
                        <input class="largeurTextbox" type="email" name="email" placeholder="Adresse Mail"
                            [(ngModel)]="form.email" required #email="ngModel">
                    </div>
                    <div class="left">
                        <input class="largeurTextbox" type="text" name="job" placeholder="Métier" [(ngModel)]="form.job"
                            required #job="ngModel">
                    </div>
                    <div class="radioPart">
                        <div class="radioPartLeft">
                            <input type="radio" name="authorities.id" [(ngModel)]="form.authorities.id"
                                #authorities.id="ngModel" [value]="2" id="User">
                            <label for="User">Utilisateur</label>
                        </div>
                        <div class="radioPartRight">
                            <input type="radio" name="authorities.id" [(ngModel)]="form.authorities.id"
                                #authorities.id="ngModel" [value]="1" id="Admin">
                            <label for="Admin">Staff Partner</label>
                        </div>
                    </div>
                    <div class="left">
                        <input class="largeurTextbox" type="text" name="password" placeholder="Mot de passe"
                            [(ngModel)]="form.password" required #password="ngModel" [value]="randomPassword" required>
                        <input class="button-password" type="button" (click)="generatePassword()" value="Aléatoire">
                    </div>
                </div>
            </div>

            <p class="info-add" [style.display]="display">Utilisateur ajouté &#10004;</p>
            <div class="buttonsPosition">
                <input class="undoBtn" type='reset' value='Annuler' (click)="undoBtnOnClick()">
                <input class="addBtn" type='submit' value='Ajouter'>
            </div>
        </form>
    </div>
</div>