<div class="pageCenter">
    <div class="form-add-admin-page">
        <div class="entete">
            <p>Ajout d'un utilisateur</p>
        </div>
        <form action="post" [formGroup]="addUser" (ngSubmit)="onSubmit()">
            <div class="content">
                <div class="leftPart">
                    <div class="left">
                        <label for="Nom">
                            <p>Nom:</p>
                        </label>
                    </div>
                    <div class="left">
                        <label for="Prénom">
                            <p>Prénom:</p>
                        </label>
                    </div>
                    <div class="left">
                        <label for="Mail">
                            <p>Mail:</p>
                        </label>
                    </div>
                    <div class="left">
                        <label for="Métier">
                            <p>Métier:</p>
                        </label>
                    </div>
                    <div class="left">
                        <p>Rôle:</p>
                    </div>
                    <div class="left">
                        <label for="Mot de passe">
                            <p>Mot de passe:</p>
                        </label>
                    </div>                  
                </div>

                <div class=rightPart>
                    <div class="left">
                        <input class="largeurTextbox" type='text' placeholder='Nom' id="Nom" formControlName="lastname" required>
                    </div>
                    <div class="left">
                        <input class="largeurTextbox" type='text' placeholder='Prénom' id="Prénom" formControlName="firstname" required>
                    </div>
                    <div class="left">
                        <input class="largeurTextbox" type='email' placeholder='Adresse Mail' id="Mail" formControlName="mail" required>
                    </div>
                    <div class="left">
                        <input class="largeurTextbox" type='text' placeholder='Métier' id='Métier' formControlName="job" required>
                    </div>
                    <div class="radioPart">
                        <div class="radioPartLeft">
                            <input type="radio" id="User" name="userRole" value="User" checked formControlName="userRole">
                            <label for="User">Utilisateur</label>
                        </div>
                        <div class="radioPartRight">
                            <input type="radio" id="Admin" name="userRole" value="Admin" formControlName="userRole">
                            <label for="Admin">Staff Partner</label>
                        </div>
                    </div>
                    <div class="left">
                        <input class="largeurTextbox" type='text' placeholder='Mot de passe' id='Mot de passe' formControlName="password" [value]="randomPassword" required>
                        <input class="button-password" type="button" (click)="generatePassword()" value="Aléatoire">
                    </div>
                </div>
            </div>
            <p class="info-add" [style.display]="display">Utilisateur ajouté &#10004;</p>
            <div class="buttonsPosition">
                <input class="undoBtn" type='reset' value='Annuler' (click)="undoBtnOnClick()">
                <input class="addBtn" type='submit' value='Ajouter'>
            </div>
        </form>
    </div>
</div>