<div class="add-intermission-page">

    <div class="content">
        <h2>Ajout d'une intermission <strong>&#43;</strong></h2>
        
        <form action="post" [formGroup]="addIntermission" (ngSubmit)="onSubmit()">
            <div>
                <label for="name">Nom de la dernière mission</label>
                <input type="text" name="nom" placeholder="Nom" formControlName="nameLastMission">
            </div>
            <div>
                <label for="name">Terminée depuis le</label>
                <input type="date" name="date" formControlName="dateLastMission">
            </div>
            <p class="info-add" [style.display]="display">Intermission ajoutée &#10004;</p>
            <div class="button-box">
                <input class="undoBtn" type='reset' value='Annuler' routerLink='/list-collaborator'>
                <input class="addBtn" type='submit' value='Ajouter'>
            </div>
        </form>
    </div>
</div>

