<!-- Parent (edition des questions) -->
<p>Interface de modification des questions du formulaire</p>

<!-- Les 3 enfants de la modification du formulaire -->
<app-form-editor-situation></app-form-editor-situation>
<app-form-editor-latest-mission></app-form-editor-latest-mission>
<app-form-editor-next-mission></app-form-editor-next-mission>

<!-- L'enfant d'ajout de question au formulaire -->
<app-form-editor-add-question></app-form-editor-add-question>

<!-- L'enfant de modfication de la video tuto -->
<app-video-editor></app-video-editor>
