<!-- liste des collaborateurs -->
<div class="list-profil-page">
    <h2>Dashboard</h2>

<!--     Bouton à placer dans la liste des profils collab pour chaque collab-->    
    <button class="add-profil"> <strong>&#43;</strong> Ajouter intermission</button>
    
    <!-- Filtrage de la liste de profils -->
    <div class="filter-box">
        <form [formGroup]="form">
            <select formControlName="filter" (change)="filterList(form.value)">
                <option *ngFor="let filter of filterOptions" [ngValue]="filter">{{filter.name}}</option>
            </select>
        </form>
    </div>

    <!-- Enfant -->
    <div class="grid">
        <ng-container *ngFor="let $profil of arrayProfils">
            <app-item-profil [profil]="$profil">
            </app-item-profil>
        </ng-container>
    </div>

</div>