@import "../../../styles.scss";

.list-profil-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

h2 {
    color: $text-grey;
    text-transform: uppercase;
}

.filter-box {
    margin: 15px 0 40px 0;
}

.filter-box select {
    outline: none;
    font-family: $main-font;
    font-size: 0.8em;
    color: $main-blue;
    background: rgb(249, 249, 249);
    border: 1px solid $main-grey;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.grid {
    width: 75%;
    display: grid;
    justify-content: center;
    grid-gap: 40px 55px;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: auto;
    margin-bottom: 100px;
}