<!-- liste des collaborateurs -->
<div class="list-profil-page">
    <h2>Dashboard</h2>
    
    <!-- Filtrage de la liste de profils -->
    <!-- <div class="filter-box">
        <form [formGroup]="form">
            <select formControlName="filter" (change)="filterList(form.value)">
                <option *ngFor="let filter of filterOptions" [ngValue]="filter">{{filter.name}}</option>
            </select>
        </form>
    </div> -->

    <!-- Enfant -->
    <div class="grid">
        <ng-container *ngFor="let $intermission of arrayIntermission">
            <app-item-intermission [intermission]="$intermission">
            </app-item-intermission>
        </ng-container>
    </div>

</div>