@import "../../../styles.scss"; 

header {
    /* Size */
    width: 100%;
    height: 10vh;

    /* Intern Placement */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* Style */
    background-color: rgb(241, 241, 241);
    
    /* Position navbar */
    div {
        margin-right: 80px;
    }
}

/* Title header */
h1 {
    font-size: 0.95em;
    font-family: $main-font;
    color: $text-grey;
    margin-left: 80px;
    position: absolute;
    top: 30px;
    right: 80px;
}

/* Logo */
header img {
    width: 200px;
    height: auto;
    margin-left: 80px;
}
