/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Open-sans', sans-serif;
}

/* COLORS OF APP */
$main-blue: #0070AD;
$secondary-blue: #12ABDB;
$main-grey: #E5E5E5;
$text-grey: #929292;
$text-darkgrey: #272936;

/* FONTS */
$main-font: 'Open-sans', sans-serif;

/* MIXINS BOUTONS GENERAUX */

@mixin button-primary-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: auto;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: $main-blue;
    color: white;
    border: 1px solid $main-blue;
}

@mixin button-secondary-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: auto;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: $main-grey;
    border: 2px solid $main-grey;
    background: white;
    color: $main-blue;
}

@mixin button-primary-action-hover {
    background: $secondary-blue;
    border: 1px solid $secondary-blue;
    cursor: pointer;
    transition: background .15s ease-in;
}

@mixin button-secondary-action-hover {
    background: $main-grey;
    cursor: pointer;
    transition: background .15s ease-in;
}
