
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$projet-capgemini-acim-primary: mat.define-palette(mat.$indigo-palette);
$projet-capgemini-acim-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$projet-capgemini-acim-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$projet-capgemini-acim-theme: mat.define-light-theme((
  color: (
    primary: $projet-capgemini-acim-primary,
    accent: $projet-capgemini-acim-accent,
    warn: $projet-capgemini-acim-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($projet-capgemini-acim-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Open-sans', sans-serif;
}

/* COLORS OF APP */
$main-blue: #0070AD;
$secondary-blue: #12ABDB;
$main-grey: #E5E5E5;
$text-grey: #929292;
$text-darkgrey: #272936;

/* FONTS */
$main-font: 'Open-sans', sans-serif;

/* MIXINS BOUTONS GENERAUX */

@mixin button-primary-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: auto;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: $main-blue;
    color: white;
    border: 1px solid $main-blue;
}

@mixin button-secondary-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: auto;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: $main-grey;
    border: 2px solid $main-grey;
    background: white;
    color: $main-blue;
}

@mixin button-primary-action-hover {
    background: $secondary-blue;
    border: 1px solid $secondary-blue;
    cursor: pointer;
    transition: background .15s ease-in;
}

@mixin button-secondary-action-hover {
    background: $main-grey;
    cursor: pointer;
    transition: background .15s ease-in;
}
