@import "../../styles.scss";


nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li img {
  width: 15px;
  height: auto;
  margin-right: 8px;
}
/*
nav a, nav .list-dropdown, nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $main-blue;
  margin-right: 30px;
}

nav a img, nav div img, nav button img {
  width: 25px;
  height: auto;
  margin-right: 7px;
}

nav button {
  @include button-primary-action;
  padding: 0;
  padding: 5px;
  color: white;
  margin-top: 0;
}

nav button:hover {
  @include button-primary-action-hover;
}


.list-dropdown {
  cursor: pointer;
  position: relative;
  border: 2px solid blue;
  height: auto;
}

.list-dropdown ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  left: 0;
  list-style: none;
  background: $main-grey;
  opacity: 0.9;
  padding: 20px 0 15px 20px;
  font-size: 0.9em;
  border: 2px solid blue;
}

.list-dropdown ul li{
  margin-bottom: 15px;
}

*/

ul:first-child {
  border-radius: 10px;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
  background: rgb(233, 233, 233);
}

li {
	display: block;
	float: left;
	padding: 15px 25px;
	position: relative;
	text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: $text-grey;
  text-decoration: none;
}

li:hover:not(li:last-child) {
	background: rgb(248, 248, 248);
	cursor: pointer;
}

li:first-child:hover {
  border-radius: 10px 0 0 10px;
}

.dropdown li:hover {
  border-radius: 0;
  padding: 15px 0px;
}

ul li ul {
	visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
	left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
	clear: both;
  width: 100%;
}

nav ul button {
  @include button-primary-action;
  font-size: 1em;
  height: 30px;
  padding: 0;
  padding: 5px;
  color: white;
  margin: 0;
}

nav ul button:hover {
  @include button-primary-action-hover;
}

.button-li {
  padding: 10px 20px;
}
