<nav role="navigation" *ngIf="this.isLoggedIn()">
    <ul>
        <!-- <li *ngIf="this.isAdmin()" routerLink='/form-editor'>
            <img src="../../assets/list-plus.svg" alt="form logo">
            <a>Gestion du formulaire</a>
        </li> -->
        <li *ngIf="this.isAdmin()" routerLink='/list-admin'>
            <a>🔧 Administrateurs</a>
        <li *ngIf="this.isAdmin()" routerLink='/list-collaborator'>
            <a>👁️‍🗨️ Collaborateurs</a>
        </li>
        <li *ngIf="this.isAdmin()" routerLink='/form-add-user'>
            <a>➕ Ajout de profil</a>
        </li>
        <li class='button-li-1'>
            <button routerLink='/home' class="button-home" title="Dashboard des intermissions en cours">
                <img src="../../assets/home-icon.png" alt="home logo">
            </button>
        </li>
        <li class='button-li-2'>
            <button (click)="logOut()" class="button-logout" title="Se déconnecter">
                <img src="../../assets/logout.png" alt="icon logout">
            </button>
        </li>
    </ul>
  </nav>
