
<div *ngIf="this.isLoggedIn()">
    
    <div *ngIf="this.isAdmin()">
        <a class="links" routerLink='/form-editor'>
            <img src="../../assets/list-plus.svg" alt="form logo">
            <span>
                Gestion du formulaire
            </span>
        </a>
    </div>
    <div *ngIf="this.isAdmin()">
        <a class="links" routerLink='/list-admin'>
            <img src="../../assets/key-bold.svg" alt="administration logo">
            <span>
                Administration
            </span>
        </a>
    </div>
    <div>
        <button class="links" routerLink='/home'>
            <img src="../../assets/cards-light.svg" alt="dashboard logo">
            <span>
                Dashboard
            </span>
        </button>
    </div>
</div>
